.root {
  background: #F3F7FA;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 34px;
}
.content {
  width: 754px;
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 60px;
  height: 60px;
}

.main {
  display: grid;
  grid-template-columns: 232px 1fr;
  gap: 20px;
  width: 100%;
}

.air-flights {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  &__flight-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 0 0;
  box-sizing: border-box;
  &_air-flights {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #DFE5EC;
    padding: 0;
    height: 50px;
  }
  &__container {
    padding: 10px 20px ;
    &:hover {
      background: #F1FCFF;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  &__header{
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #4A4A4A;
    padding: 0 20px;
  }
  &__label {
    border-left: 1px solid #DFE5EC;
    border-right: 1px solid #DFE5EC;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &__side-menu {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    font-size: 12px;
    white-space: nowrap;
    &_checkbox {
      border: 1px solid #2196F3;
      border-radius: 2px;
    }
    &_radio {
      border: 1px solid #9ABBCE;
      border-radius: 22px;
    }
    &_popular {
      height: 50px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: #4A4A4A;
      box-sizing: border-box;
      border-radius: 5px;
      &:hover {
        background: #F1FCFF;
        border: 1px solid #DFE5EC;
      }
    }
  }
  &__hidden {
    position: absolute;
    width: 1px; /* если у элемента не будет размеров, некоторые браузеры посчитают, что его вообще нет */
    height: 1px;
    overflow: hidden; /* без этого свойства тоже сработает, но так наверняка. Мы его ещё изучим, оно скрывает элементы, выходящие за границы родителя */
    clip: rect(0 0 0 0);
  }
  &__label-text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #4A4A4A;
    margin-left: 10px;
  }
}
.input__hidden:checked + .input__side-menu_checkbox{
  background-image: url('../../../assets/images/checked.svg');
  background-repeat: no-repeat;
  background-position: center;
}


.input__hidden:checked + .input__side-menu_radio{
  background-image: url('../../../assets/images/circle.svg');
  background-repeat: no-repeat;
  background-position: center;
}


.input__hidden:checked + .input__side-menu_popular{
  width: 100%;
  height: 50px;
  background: #2196F3;
  color: #FFFFFF;
}

.button {
  width: 100%;
  height: 50px;
  background: #2196F3;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}
