<div class="air-flight">
  <div class="air-flight__upper-row">
    <p class="air-flight__costs">{{costAirFlight()}}</p>
    <img class="air-flight__logo-company" src="{{airFlight.companyLogo}}" alt="Logo company">
  </div>
  <div class="air-flight__bottom-row">
    <div class="air-flight__information-container">
      <p class="air-flight__title-information">{{airFlight.travel}}</p>
      <p>{{airFlight.startTravel + ' - ' + airFlight.endTravel}}</p>
    </div>
    <div class="air-flight__information-container">
      <p class="air-flight__title-information">В пути</p>
      <p>{{airFlight.timeInTravel}}</p>
    </div>
    <div class="air-flight__information-container">
      <p class="air-flight__title-information">{{amountTransfers()}}</p>
      <p *ngIf="this.airFlight.transfers.length > 0">{{transferInformation()}}</p>
    </div>
  </div>
  <div></div>
</div>
