:host {
  width: 100%;
}

.air-flight {
  width: 100%;
  height: 135px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
  gap: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &__upper-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__logo-company {
    width: 110px;
    height: 36px;
  }
  &__costs {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #2196F3;
  }
  &__bottom-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__information-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    height: 39px;
    width: 140px;
  }
  &__title-information {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #A0B0B9;
  }
}
